.DS_Store
node_modules
.turbo
dist
build
coverage
.venv
__pycache__
*.pyc
data/generated-audio/*
data/generated-images/*
data/generated-meta/*
output/previews/*
output/videos/*
public/generated-audio/*
public/generated-images/*
apps/video-renderer/public/generated-audio/*
apps/video-renderer/public/generated-images/*
!.gitkeep
